@model Nomina.Models.Empleados

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">

@{
    ViewBag.Title = "Edit";
}

@{
    Layout = null;
}

@Html.Partial("NavBar")

<div class="jumbotron" align="center">
    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Empleados</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                @Html.LabelFor(model => model.codigo, "Codigo:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, "Nombre:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.apellido, "Apellido:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.telefono, "Telefono:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.departamento, "Departamento:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.departamento, ViewBag.departamentos as SelectList, "Seleccione...", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.departamento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cargo, "Cargo:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.cargo, ViewBag.Cargos as SelectList, "Seleccione...", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cargo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaentrada, "Fecha Entrada:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaentrada, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fechaentrada, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.salario, "Salario:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.salario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.salario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.estado, "Estado:", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                <div class="col-md-10">
                    <div class="custom-control custom-checkbox">
                        <div class="custom-control custom-checkbox">
                            <input name="estado" type="checkbox" value="Activo" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"> Activo</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input name="estado" type="checkbox" value="Inactivo" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2"> Inactivo</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver Atras", "Index")
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
